<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-lazy-init="true">

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <value>
                hibernate.dialect=${hibernate.dialect}
                hibernate.query.substitutions=true 'Y', false 'N'
                hibernate.cache.use_second_level_cache=true
                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider
            </value>
            <!-- Turn batching off for better error messages under PostgreSQL -->
            <!-- hibernate.jdbc.batch_size=0 -->
        </property>
    </bean>
    
    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository -->
    <context:component-scan base-package="com.zju.dao"/>

    <!-- Compass Search Section -->

    <!-- Compass Bean, automatically scanning for searchable classes within the model -->
    <!-- Hooks into Spring transaction management and stores the index on the file system -->
    <bean id="compass" class="org.compass.spring.LocalCompassBean">
        <property name="mappingScan" value="com.zju"/>
        <property name="transactionManager" ref="transactionManager" />
        <property name="settings">
            <map>
                <entry key="compass.engine.connection" value="target/test-index" />
            </map>
        </property>
    </bean>

    <!-- Compass Template allowing to automatically join/start exising transactions when performing operations -->
    <bean id="compassTemplate" class="org.compass.core.CompassTemplate">
        <property name="compass" ref="compass" />
    </bean>

    <!-- Compass Search Helper allowing to perform search operations in a simpler manner -->
    <bean id="compassSearchHelper" class="org.compass.core.support.search.CompassSearchHelper">
        <constructor-arg ref="compass" />
        <property name="pageSize" value="10" />
    </bean>

    <!-- CompassGps will automatically mirror any changes done thorugh Hibernate to searchable classes to the index -->
    <!-- It will also provide the index operation allowing to reindex the database -->
    <bean id="compassGps" class="org.compass.gps.impl.SingleCompassGps" init-method="start" destroy-method="stop">
        <property name="compass" ref="compass" />
        <property name="gpsDevices">
            <list>
                <bean class="org.compass.gps.device.hibernate.HibernateGpsDevice">
                    <property name="name" value="hibernate" />
                    <property name="sessionFactory" ref="sessionFactory" />
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="userDao" class="com.zju.dao.hibernate.UserDaoHibernate" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="roleDao" class="com.zju.dao.hibernate.RoleDaoHibernate" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
    <bean id="bagDao" class="com.zju.dao.hibernate.BagDaoHibernate" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="ruleDao" class="com.zju.dao.hibernate.RuleDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="resultDao" class="com.zju.dao.hibernate.ResultDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="indexDao" class="com.zju.dao.hibernate.IndexDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="itemDao" class="com.zju.dao.hibernate.ItemDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="patientInfoDao" class="com.zju.dao.hibernate.PatientInfoDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="testResultDao" class="com.zju.dao.hibernate.TestResultDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="testDescribeDao" class="com.zju.dao.hibernate.TestDescribeDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="taskDao" class="com.zju.dao.hibernate.TaskDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="permissionDao" class="com.zju.dao.hibernate.PermissionDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="syncDao" class="com.zju.dao.spring.SyncDaoSpring">
        <property name="jdbcTemplatelocal" ref="jdbcTemplatelocal" />
        <property name="jdbcTemplatez1" ref="jdbcTemplatez1" />
    </bean>
	
	<bean id="reasoningModifyDao" class="com.zju.dao.hibernate.ReasoningModifyDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="testModifyDao" class="com.zju.dao.hibernate.TestModifyDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="auditTraceDao" class="com.zju.dao.hibernate.AuditTraceDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="ylxhDao" class="com.zju.dao.hibernate.YlxhDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="patientsDao" class="com.zju.dao.spring.PatientsDaoSpring">
    	<property name="jdbcTemplatez1" ref="jdbcTemplatez1" />
    </bean>
    
    <bean id="invalidSamplesDao" class="com.zju.dao.spring.InvalidSamplesOracleDaoSpring">
    	<property name="jdbcTemplatez1" ref="jdbcTemplatez1" />
    </bean>
    
    <bean id="bayesDao" class="com.zju.dao.spring.BayesJdbc">
    	<property name="jdbcTemplate" ref="jdbcTemplatelocal" />
    </bean>
</beans>
